@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* .wrapper {
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  width: 400px;
}

.container {
  width: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #56baed;
}
body {
  background: #56baed;
}
.select-box,
.play-board,
.result-box,
.coming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.select-box {
  /* border: 1px solid red; */
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 400px;
  width: calc(100% - 20px);
  opacity: 1;
}
.select-box.hide {
  /* background-color: #56baed; */
  opacity: 0;
  pointer-events: none;
}
.select-box .content.hide {
}

.select-box .title {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 -15px;
}
.select-box .options {
  display: flex;
  width: 100%;
  column-gap: 5px;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
}

/* .select-box .options > div {
  border: 1px solid red;
} */

.select-box .options > div:first-child {
  display: none;
}
.select-box .options > div:first-child.active {
  /* border: 1px solid blue; */
  display: block;
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
}

.select-box .credit {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a {
  color: #56baed;
  text-decoration: none;
}
.select-box .credit a:hover {
  text-decoration: underline;
}

.options button,
.options select {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 6px 3px;
  background: none;
  border: 1px solid #56baed;
  color: #56baed;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.options button:hover,
.btn button:hover,
.options .mode.active {
  background: #56baed;
  color: #fff;
}

.play-board {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  /* border: 1px solid red; */
}
.play-board.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details {
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}
.play-board .players {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.players span {
  color: #56baed;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}

.players .xTurn.active,
.players .oTurn.active {
  background-color: #56baed;
  color: #fff;
}

.play-area {
  margin-top: 20px;
}
.play-area section {
  display: flex;
}
.play-area section span {
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: grid;
  place-items: center;
  height: 90px;
  width: 90px;
  margin: 2px;
  color: #56baed;
  font-size: 40px;
  border-radius: 5px;
  background: #fff;
}

.result-box,
.coming {
  padding: 25px 20px;
  border-radius: 5px;
  opacity: 0;
  text-align: center;
  min-width: 250px;
  background: rgba(51, 170, 51, 0.5);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result-box.lose {
  background: rgba(255, 0, 0, 0.5);
}

.result-box.show,
.coming.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  font-weight: 500;
}
.result-box .won-text {
  font-size: 25px;
  display: flex;
  justify-content: center;
  opacity: 1;
}
.result-box .won-text p {
  opacity: 1;
  font-weight: 600;
  margin: 0 5px;
}

.result-box button {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 6px 3px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: green;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}
.result-box.lose button {
  background-color: red;
}

small.helperText {
  display: none;
  color: green;
  margin-top: 4px;
  font-size: 12px;
}
small.helperText.active {
  display: block;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.header {
  color: #56baed;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.play-board .header {
  color: #fff;
}
.header .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.play-board .quit {
  padding: 4px 10px;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 12px;
  outline: none;
  border-radius: 15px;
}
